/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #f7eedd;
  --container-color: #6fbfea;
  --input-color: #eeedeb;
  --button-color: #1e465b;
  --white-color: #ffffff;
  --grey-color: #f0f8ff;
  --red-color: #bf1b2b;
}

body {
  background-color: var(--bg-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  width: 90%;
  max-width: 43.75em;
  margin: 1em auto;
  animation: fadeIn 0.5s ease-in-out;
}

.container {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper h3 {
  color: var(--button-color);
  font-weight: 500;
  margin-bottom: 0.6em;
  text-align: center;
}

.container input {
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  outline: none;
  font-weight: 400;
  margin-bottom: 0.6em;
}

.container input:focus {
  border-color: var(--button-color);
}

.total-amount-container,
.user-amount-container,
.output-container {
  background-color: var(--container-color);
  color: var(--button-color);
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  padding: 1.25em 0.9em;
  margin: 2em 0;
}

.output-container p,
.output-container span {
  font-weight: 500;
  color: var(--button-color);
}

#total-amount {
  background-color: var(--grey-color);
}

.submit,
#reset-button {
  font-size: 1em;
  margin-top: 0.8em;
  background-color: var(--button-color);
  border: none;
  color: var(--white-color);
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}

.submit:hover,
#reset-button:hover {
  background-color: #1a3b5d;
}

.list {
  background-color: var(--container-color);
  padding: 1.8em 1.2em;
  border-radius: 0.6em;
  margin-top: 1em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.sublist-content {
  border-left: 0.3em solid var(--container-color);
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  animation: fadeIn 0.5s ease-in-out;
}

.expense-details {
  display: flex;
  align-items: center;
}

.product {
  font-weight: 500;
  margin-right: 1em;
}

.amount {
  margin-right: 1em;
}

.icons-container {
  display: flex;
  align-items: center;
}

.product-title,
#user-amount {
  margin-bottom: 1em;
  background-color: var(--grey-color);
}

.hide {
  display: none;
}

.error {
  color: var(--red-color);
}

/* Button Styles */
.edit,
.delete {
  background: transparent;
  cursor: pointer;
  margin-left: 0.5em;
  border: none;
  font-size: 1.2em;
}

.edit:hover,
.delete:hover {
  color: #007BFF;
}

.delete {
  color: var(--red-color);
}

.delete:hover {
  color: #FF0000;
}

/* Pie Chart Styling */
.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.pie-chart-container {
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin-bottom: 1em;
}

#pie-chart {
  width: 100%;
  height: 300px;
}

/* Expense Section */
#expense-section {
  margin: 20px 0;
}
